/* =========================
   :root - global variables
=========================== */
:root {
  /* Colors */
  --color-bg: rgba(248, 248, 250, 0.87);
  --color-text: rgb(45, 37, 104);
  --color-link: rgba(136, 123, 255, 1);
  --border-color: rgba(136, 123, 255, 0.219);

  /* Fonts */
  --font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Spacing */
  --space-section: 2.5rem;
  --space-heading: 1rem;
}

/* =========================
   Global resets
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--space-section);
  display:flex;
  flex-direction: column;
  align-items: center;
}

/*==========================
Logo
===========================*/
.logo {
  width: 100px;
  height:auto;
}

/* =========================
   Headings
=========================== */
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: var(--space-heading);
  font-weight: normal;
}
h3 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-subtext);
  margin: 0;
}

/* =========================
   Paragraphs
=========================== */
p {
  margin-bottom: 1rem;
}

/* =========================
   Lists
=========================== */
ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem; 
  border-left: 1px solid;
}
li {
  margin-top: 0.8rem;
}
a {
  color: var(--color-link);
  text-decoration: underline;  
}




/* =========================
   Sections
=========================== */

section {
  margin-bottom: var(--space-section);
}
/*.grouping class for items within container that need to be compact*/
.grouping {
  display: flex;
  flex-direction: column;
  gap: 0.2rem; 
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;

  /*
  h1::before {
    content:">>";
  }
  */

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color-subtext);
    margin: 0;
  }

  p {
    font-size: 0.85rem;
    color: var(--color-subtext);
    margin: 0;
  }
}


.textSection{
  max-width: 40rem;
}

/*Process*/
.processCardContainer {
  display:flex;
  flex-direction: row;
  gap: 1rem;
}
.processCardContainer>*{
  background-color: rgb(255, 255, 255);
}
/*Language teaching CTA*/
.ctaContainer{
  display: flex;
}
.cta{
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background-color: rgb(223, 225, 252); 
}

.link{
  display: flex;
  align-items: center;
}

/*==========================
Media Queries
===========================*/
/* Tablet / smaller screens */
@media (max-width: 768px) {
  .processCardContainer {
    flex-direction: column;
    align-items: center;
  }
  .heading{
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
  }
  .cta{
    flex-direction: column;
    align-items: center;
  }
  .link{
    justify-content: center;
    align-items: center;
  }
}